.contact-cmp {
    h3  {
        text-align: center;
    }
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 100px 55px;
        gap: 20px;
        input{

        }
        .name {
            grid-column: 1/3;
        }
        .email {
            grid-column: 3/5;
        }
        .subject {
            grid-column: 1/5;
        }
        textarea {
            grid-column: 1/5;
        }
        button {
            grid-column: 2/4;
        }
    }
}
