.contact-cmp {
    h3  {
        text-align: center;
        font-family: KronaOne;
      }
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 50px 100px 55px;
        gap: 20px;
        input{
            padding-left: 10px;
            margin: 0;
            border:0;
            font-family:Lato;
            font-size: rem(20px);
            border-radius: 7px;
        }
        .name {
            grid-column: 1/3;
        }
        .email {
            grid-column: 3/5;
        }
        .subject {
            grid-column: 1/5;
        }
        textarea {
            grid-column: 1/5;
            padding: 15px;
            font-size: rem(20px);
            font-family:Lato;
            border-radius: 7px;
           }
        button {
            grid-column: 2/4;
        }
    }
}
