footer {
    background-color: $clr3;
    color: $clr2;
    display: flex;
    flex-direction: column;
    .icons {
        margin: auto;
        display: flex;
        height: 60px;
        img {
            margin: 10px;
            width: 50px;
        }
    }
    .txt {
        text-align: center;
        line-height: rem(30px);
        padding-bottom: 20px;
    }
}
