.nav-bar {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    @media (max-width: 970px) {
        padding-right: 50px;
        padding-left: 50px;
    }

    .logo {
        font-family: GreatVibes;
        font-size: rem(40px);
        line-height: rem(100px);
        margin: 0;
        color: $clr3;
    }
    .link-ul {
        margin: 0;
        height: 100px;
        display: flex;
    }
    a {
        text-decoration: none;
    .link-li {
        list-style: none;
        margin-left: 50px;
            font-size: rem(40px);
            color: $clr3;
            line-height: rem(100px);
            height: 100px;
        }
    }
}
.scroll {
    background-color: $clr3;
    .logo{
    color: $clr2;
    }
a .link-li {
    color: $clr2;
}}
