*{
    box-sizing: border-box;
}
html{
    font-family: Lato;
    color: $clr1;
}

body {
    margin: 0;
    background-color: $clr2;
}

img {
    max-width: 100%;
}

.container {
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
    @media (max-width:970px){
        margin-right: 50px;
        margin-left: 50px;
    }

}
