@font-face {
    font-family: Lato;
    src: url(~@/assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(~@/assets/fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: KronaOne;
    src: url(~@/assets/fonts/KronaOne-Regular.ttf);
}
