
// COLOR PALETTE


// // blue
$clr1: #dcd6f7;
$clr2: #11123b;
$clr3: #a6b1e1;
$clr4: #eef9bf;
$clr5: #424874;

// LAYOUT BREAKPOINTS

$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;


$font: NotoSansSC;